body {
  color: #203239;
  background-color: black;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.selector-for-some-widget {
  box-sizing: content-box;
}

.header {
  background-image: url(../assets/img/black-2121741_1280.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30%;
}
img {
  padding-top: 2%;
  max-width: 900px;
  max-height: 400px;
}

.card:hover .card-img-top {
  opacity: 0.9;
}
.card:hover .card-body {
  opacity: 0.75;
}
